body {
    background-color:rgba(204, 185, 163, 0.089)
}

.h3 {
    color:dodgerblue;
    text-align: center;
}

.weeklylist {
    color:#d60909;
}

.joe {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.bruh {
    font-size: 14px;
}

.butten {
    padding: 10px 65px;
    background: #d60909;
    border: 0;
    outline:none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor:crosshair;
}
